.container {
    display: grid;
    place-items: center;
    height: 600px;
}

.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

#image {
    width: 400px;
    height: 400px;
    background-size: cover;
    border-radius: 5px;
}

.controls {
    text-align: center;
}

#prev{
    margin-right: 20px;
}

#next{
    margin-left: 20px;
}

.button{
    border: none;
    height: 40px;
    width: 40px;
    margin-top: 180px;
    border-radius: 10px;
}

.button:hover{
    background-color: lightgray;
}