.container {
    display: grid;
    place-items: center; /* Centra tanto horizontal como verticalmente */
    height: 600px;
}

.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

#image {
    width: 400px;
    height: 400px;
    background-size: cover;
}

.controls {
    text-align: center;
}

